

<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">Welcome To Michael Redenbaugh's Portfolio!</h1>
  
  <hr class="my-4">
  <p>This a portfolio I created for my CS3300 class. My portfolio contains projects that I have worked on in my classes. Feel free to take a look!</p>

</div>


<h1 >Projects</h1>

<table class = "table">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description  %></td>
        <td><%= link_to 'Show', project %></td>
        <% if student_signed_in? %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


